// LAYOUT

html {
  height: 100%;
}

body {
  // background-color: lightseagreen;
  font-family: $defaultFont;
  font-size: 16px;
  // border: 1px dotted red;
}

.app {
  // border: 1px dotted green;
  height: 100%;
  @include flexbox();
  flex-direction: column;
  height: 100vh;
}

.content {
  // border: 1px dotted blue;
  @include flex(1 0 auto);

}


// HEADER

header {
  background-color: $sunshine;

  h1 {
    // color: $highlight-color;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
  }
}


// FORM

form {
  padding: 20px;
  // border: 1px dotted grey;
  margin: 0 auto;
  max-width: $contentMaxWidth;

  input {
    display: block;
  }

  .label-wrapper {
    margin-bottom: 5px;

    label {
      font-weight: bold;
    }

    span {
      float: right;
      color: darkred;
      font-weight: bold;
      font-size: 0.8rem;
      padding-top: 3px;
    }
  }

  .form-input {
    padding: 10px;
    width: 100%;
    // border-radius: 5px;
    // border: 1px solid grey;
  }

  .help {
    padding: 5px;
    font-weight: bold;
    background-color: $sunshine;
  }

  .form-btn {
    border: 1px solid grey;
    background-color: $darkgrey;
    border-radius: 5px;
    color: white;
    // font-weight: bold;
    margin-top: 8px;
    padding: 8px 30px;
  }
}


// RESULTS


.result-wrapper {
  // border: 1px dotted grey;
  padding: 20px;
  max-width: $contentMaxWidth;
  margin: 0 auto;

  .result-title {
    padding: 10px;
    text-align: center;
    background-color: $sunshine;

    h2 {
      font-size: 1.3rem;
    }
  }

  .result-summary-wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

  .result-summary {
    width: 50%;
    float: left;
    padding-top: 30px;

    .temperature {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    button {
      background-color: green;
      color: white;
      margin: 25px auto 10px auto;
      display: block;
      padding: 6px 10px ;
      border: none;
      border-radius: 3px;
    }


  }

  .result-icon {
    width: 50%;
    float: left;
    // border: 1px dotted lightblue;

    img {
      height: 6rem;
      margin: 0 auto -5px auto;
      display: block;
    }

    .description {
      text-align: center;
      font-weight: bold;
      margin-top: 0px;
    }
  }

  .result-details {
    h3 {
      text-align: center;
      padding: 10px 0;
    }

    table {
      // border: 1px solid lightgreen;
      margin: 0 auto;
      width: 100%;
    }

    td {
      padding: 7px;
    }

    tr:nth-child(odd) {
      background-color: $sunshine;
    }

    td:first-child {
      // border: 1px solid red;
    }

    td:last-child {
      // border: 1px solid blue;
      font-weight: bold;
    }
  }




}


// FOOTER
footer {
  background-color: $darkgrey;

  .footer-author {
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 0.9rem;
  }
}



