// LAYOUT

html {
  height: 100%;
}

body {
  // background-color: lightseagreen;
  font-family: $defaultFont;
  font-size: 16px;
  border: 1px dotted red;
}

.app {
  border: 1px dotted green;
  height: 100%;
  @include flexbox();
  flex-direction: column;
  height: 100vh;
}

.content {
  border: 1px dotted blue;
  @include flex(1 0 auto);

}


// HEADER

header {
  background-color: lightgreen
}

h1 {
  color: $highlight-color;
  text-align: center;
  padding: 10px;
  font-size: 1.6rem;
}

// FORM

form {
  padding: 20px;
  border: 1px dotted grey;
  margin: 0 auto;
}

.form-input, .form-btn {
  display: block;
}

.form-label-wrapper {
  margin-bottom: 5px;
}

.form-label {
  font-weight: bold;
}

.form-required {
  float: right;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

.form-input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid grey;
}

.form-btn {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  padding: 8px 30px;
}




// FOOTER
footer {
  background-color: lightgreen;
}



.footer-author {
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
}
