$darkgrey: #232323;
$sunshine: rgb(233, 200, 91);
$defaultFont: 'Lato', sans-serif;
$contentMaxWidth: 500px;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
